.App {
  margin: 1%;
}

.Main {
  display: flex;
  flex-direction: row;
}

.Profile {
  order: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-shrink: 2;
}

.Profile #face {
  border-radius: 100%;
  max-width: 60%;
  max-height: 100%;
  margin: 20%;
  order: 1;
}

.Email #email {
  width: 5%;
  height: auto;
}

.Email {
  order: 2;
}

.Grid {
  order: 2;
  flex-grow: 1;
  overflow: hidden;
}

.Grid img {
  width: 100%;
  opacity: 0.4;
}

u {
  text-decoration: none;
  border-bottom: 10px solid orange;
  line-height: 50px;
  margin: 20px 0;
}

.Projects {
  display: flex;
  flex-direction: row;
}

.ProjectLegend {
  width: 50%;
  order: 1;
}

.ProjectColumns {
  order: 2;
}
