@font-face {
  font-family: ModerneSans;
  src: url(ModerneSansFont.ttf);
}

.App {
  font-family: "Nunito", sans-serif;
}

.Main {
  display: flex;
  flex-direction: row;
  background-image: url("../images/background.JPG");
  background-size: contain;
  background-repeat: no-repeat;
}

.Profile {
  display: flex;
  flex-direction: column;
  margin: 0% 3% 5% 3%;
  background-color: rgba($color: #ffc569, $alpha: 0.85);
  border-radius: 10%;
  width: 43%;
}

.Profile #face {
  border-radius: 100%;
  max-width: 40%;
  max-height: 100%;
  margin: 12% auto;
  order: 1;
}

.Contact {
  order: 2;
  margin: 0% 18% 12% 18%;
}

.Projects {
  display: flex;
  flex-direction: row;
}

.ProjectLegend {
  width: 120%;
  order: 1;
}

.ProjectColumns {
  order: 2;
}

.underline--magical {
  font-family: ModerneSans;
  font-size: 4rem;

  background-image: linear-gradient(120deg, #ff9a9e 0%, #fad0c4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;

  &:hover {
    background-size: 100% 88%;
  }
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: gray;
}

.Contact img {
  width: 10%;
}

.ProjectLegend2 {
  display: none;
}

/* For Mobile and Tablets */
@media screen and (max-width: 1024px) {
  .Main {
    background-size: cover;
  }
  .Profile {
    width: 100%;
    margin: 3% 3% 5% 3%;
  }
  .Profile #face {
    max-width: 20%;
    margin: 5% auto;
  }
  .Contact {
    margin: 0% 10% 5% 10%;
    font-size: 1.25rem;
  }
  .Contact img {
    width: 5%;
  }
  .Projects {
    flex-direction: column;
  }
  .ProjectLegend {
    display: none;
  }
  .ProjectLegend2 {
    display: block;
  }
}
